@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
}

 @font-face {
  font-family: "Anton";
  src: url(./fonts/Anton-Regular.ttf);
};

@font-face {
  font-family: "Red Hat Display";
  font-weight: 100;
  src: url(./fonts/RedHatDisplay-Light.ttf);
};

  .custom-anton{
    font-family: "Anton", sans-serif;
  };

  .custom-red{
    font-family: "Red Hat Display";
    font-weight: 100;
  }

  